.firstdiv {
    height: 850px;
}

.contheight {
    height: 800px;
}

.maintext {
    height: 400px;
}

.secdiv {
    height: 600px;
}

.thdiv {
    height: 400px;
}

.smico {
    color: green;
    width: 50px;
    height: auto;
}

.lgim {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}

.mbl {
    margin-bottom: 20px;
}

.ftrr {
    padding: 20px;
}

.cpr {
    padding-top: 20px;
}