.firstdiv {
    height: 850px;
}

.contheight {
    height: 800px;
}

.maintext {
    height: 400px;
}

.secdiv {
    height: 600px;
}

.thdiv {
    height: 380px;
}

.smico {
    color: #192A51;
}

.lgim {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}

.mbl {
    margin-bottom: 20px;
}

.ftrr {
    padding: 20px 0px 20px 20px;
}

.cpr {
    padding-top: 20px;
}

p {
    font-family: "Winky Sans", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

ul {
    font-family: "Montserrat", sans-serif;
}

.logoo {
    font-family: "Playwrite CU", cursive;
}

.snln {
    margin: 0 20px 5px 5px;
}

.snln:hover {
    background-color: #967AA1;
    border-color: #967AA1;
}