.firstdiv {
    height: 850px;
}

.contheight {
    height: auto;
    width: auto;
}

.maintext {
    height: 400px;
}

.secdiv {
    height: 600px;
}

.thdiv {
    height: 380px;
}

.smico {
    color: #192A51;
}

.lgim {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}

.mbl {
    margin-bottom: 20px;
}

.ftrr {
    padding: 20px 0px 20px 20px;
}

.cpr {
    padding-top: 20px;
}

.desktp {
    display:none;
}

p {
    font-family: "Winky Sans", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

ul {
    font-family: "Montserrat", sans-serif;
}

.logoo {
    font-family: "Playwrite CU", cursive;
}

.snln {
    margin: 0 20px 5px 5px;
}

.snln:hover {
    background-color: #967AA1;
    border-color: #967AA1;
}

@media (max-width: 640px) {

}
@media (min-width:640px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width:992px){
    .desktp {
        display: block;
    }
}

@media (min-width: 992px) and (max-width:1200px) {
    .desktp {
        display: block;
    }
}